
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light rounded-5">
    <div class="container">
        @Html.ActionLink("Buyer Dashboard", "BuyerDashboard", "User", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("My Profile", "MyProfile", "User", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Purchase Meals", "BuyerPurchaseMeals", "Order", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Cart", "Cart", "Order", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Search Meal", "SearchMeal", "Meal", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>

<h2>Order Confirmation</h2>
<p>Your order has been successfully placed!</p>
<a href="@Url.Action("BuyerPurchaseMeals", "Order")" class="btn btn-primary">Back to Meals</a>
